<mat-card class="card">

    <mat-card-header>
        <div mat-card-avatar class="avatar"></div>
        <mat-card-title>Ahmed Ibrahim</mat-card-title>
        <mat-card-subtitle>1hr ago</mat-card-subtitle>
    </mat-card-header>

    <img mat-card-image src="/assets/hisoka.jpg" alt="Photo of a Shiba Inu">

    <mat-card-content>
        <p>
            Sneaky Hisoka - <i>Rock</i>
        </p>
    </mat-card-content>

    <mat-card-actions class="actions-container">
        <button mat-raised-button color="primary" class="left">
            <mat-icon>play_arrow</mat-icon>
            PLAY
        </button>

        <button mat-icon-button class="right">
            <mat-icon>favorite</mat-icon>
        </button>

        <div class="clear"></div>
    </mat-card-actions>

</mat-card>