.logo {
    height: 100%;
}

.app-name {
    padding-left: 20px;
}

.search-box {
    height: 100%;
    margin-left: 20px;
}

.spacer {
    flex: 1 1 auto;
}

.search {
    padding-left: 20px;
}

.avatar {
    height: 100%;
    width: 50px;
    position: relative;
    cursor: pointer;
    transition-duration: 0.5s;
} .avatar:hover {
    background-color: #2d2d2d;
}

.avatar > * {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}