<div class="list" fxLayout="row wrap" fxLayoutGap="16px grid">
    <div
        class="col"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="25%"
        fxFlex.xl="20%">
        <app-song-card></app-song-card>
    </div>
    <div
        class="col"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="25%"
        fxFlex.xl="20%">
        <app-song-card></app-song-card>
    </div>
    <div
        class="col"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="25%"
        fxFlex.xl="20%">
        <app-song-card></app-song-card>
    </div>
    <div
        class="col"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="25%"
        fxFlex.xl="20%">
        <app-song-card></app-song-card>
    </div>
    <div
        class="col"
        fxFlex.xs="100%"
        fxFlex.sm="50%"
        fxFlex.md="33%"
        fxFlex.lg="25%"
        fxFlex.xl="20%">
        <app-song-card></app-song-card>
    </div>
    
    
</div>