<div id="container">

    <mat-card class="card">
        <mat-card-header class="header">
            <mat-card-title class="title">REGISTER</mat-card-title>
            <mat-card-subtitle class="subtitle">Where words fail, music speaks.</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>

            <form autocomplete="off">
                
                <mat-form-field appearance="fill" class="field">
                    <mat-label>Username</mat-label>
                    <input
                        matInput
                        name="username"
                        autocomplete="off"
                        readonly 
                        onfocus="this.removeAttribute('readonly');"
                        [(ngModel)]="username"
                        type="text" >
                </mat-form-field>

                <br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Email</mat-label>
                    <input
                        matInput
                        name="email"
                        autocomplete="off"
                        readonly 
                        onfocus="this.removeAttribute('readonly');"
                        [(ngModel)]="email"
                        type="email" >
                </mat-form-field>

                <br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Password</mat-label>
                    <input
                        matInput
                        name="password"
                        autocomplete="off"
                        readonly 
                        onfocus="this.removeAttribute('readonly');"
                        [(ngModel)]="password"
                        [type]="hide ? 'password' : 'text'">
                    <button mat-icon-button matSuffix (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
                    <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </button>
                </mat-form-field>

                <br>

                <mat-form-field appearance="fill" class="field">
                    <mat-label>Gender</mat-label>
                    <mat-select [(value)]="gender">
                        <mat-option value="male">male</mat-option>
                        <mat-option value="female">female</mat-option>
                    </mat-select>
                </mat-form-field>

            </form>

        </mat-card-content>
        <mat-card-actions class="actions-container">
            <button mat-flat-button color="primary">REGISTER</button>
        </mat-card-actions>
    </mat-card>

    <div class="bottom">
        Already have an account? <a mat-button color="accent" routerLink="/login">Login</a>
    </div>

</div>


<div class="back-container">
    <button mat-fab color="accent" (click)="navigateToLanding()">
        <mat-icon>arrow_back</mat-icon>
    </button>
</div>