<div id="container">

    <div>
        <img src="assets/music.png" height="300" >
    </div>


    <div>
        <p class="slogan">Bringing Happiness Through Sound</p>
    </div>

    <div class="buttons-container">
        <button mat-raised-button color="primary">LOG IN</button>
        <button mat-raised-button color="primary">REGISTER</button>
    </div>

    <div class="title">
        <h1>TASTE</h1>
    </div>

    <div class="about">
        <button mat-stroked-button color="primary">ABOUT</button>
    </div>
</div>