<div id="container">

    <div class="block">

        <img src="assets/music.png" class="logo">


        <div>
            <p class="slogan">Bringing Happiness Through Sound</p>
        </div>

        <div class="buttons-container">
            <button mat-raised-button color="primary" (click)="go('/login')">LOG IN</button>
            <button mat-raised-button color="primary" (click)="go('/register')">REGISTER</button>
        </div>

    </div>

    <div class="title">
        <h1>TASTE</h1>
    </div>

</div>