#container {
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    padding: 20px;
    /* border: 1px solid red; */
    overflow: auto;
}

section {
    /* border: 1px solid red; */
    width: 100%;
    margin-bottom: 20px;
}

.list {
    width: 100%;
}